/* font family rules to use
font-family: 'Cabin', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Playfair Display SC', serif; */

h1 {
  font-size: 2em;
  font-family: "Cabin", sans-serif;
}

.container {
  border: 2px solid #0707b9;
  padding: 10px;
  margin: 10px auto;
}

.color-panel {
}
